{% load static %}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% if user.is_authenticated %}
<a href="{% url 'blog' %}">Блог</a>
<a href="{% url 'home' %}">Главная страница</a>
<form method="post" action="{% url 'logoutUser' %}">
    {% csrf_token %}
    Вы вошли как: {{ user.username }}
    <button type="submit">Выход</button>
    <a href="{% url 'account' %}">Аккаунт</a>
    <a href="{% url 'home' %}">Вернуться на главную страницу</a>
</form>
{% else %}
<a href="{% url 'admin:index' %}">Админка</a>
<a href="{% url 'loginUser' %}">Вход</a>
<a href="{% url 'register' %}">Регистрация</a>

{% endif %}

{% block content %}{% endblock %}